<div class="jumbotron">
	<%= image_tag("home.jpg", :alt => "friendswap") %>
	<h1>Live like a local.</h1>
	<p><a class="btn btn-primary btn-lg" role="button">Choose a place</a></p>
</div>

<h3>Hangout in these cities:</h3>

<!-- to list individual users
<% @users.each do |user| %>
  	<h3><%= link_to user.name, :controller => 'listings', :action => 'user', :id => user.id%></h3>
<% end %>
-->

<h2><%= link_to 'San Francisco', :controller => 'listings', :action => 'city', :city => 'sf'%></h2>
<h2><%= link_to 'New York', :controller => 'listings', :action => 'city', :city => 'ny'%></h2>



