<h1>Welcome to FriendSwap!</h1>
<%=  %>
<h3>Hangout in these cities:</h3>

<!-- to list individual users
<% @users.each do |user| %>
  	<h3><%= link_to user.name, :controller => 'listings', :action => 'user', :id => user.id%></h3>
<% end %>
-->

<h2><%= link_to 'San Francisco', :controller => 'listings', :action => 'city', :city => 'sf'%></h2>
<h2><%= link_to 'New York', :controller => 'listings', :action => 'city', :city => 'ny'%></h2>



