<h1>Welcome to FriendSwap!</h1>

<h3>Hangout in these cities:</h3>

<h2><%= link_to 'San Francisco', :controller => 'listings', :action => 'sanfrancisco'%></h2>

<% @users.each do |user| %>
  <h3><%= user.name %></h3>
  Hi
<% end %>
