<h1>San Francisco</h1>

<h2>Find an activity</h2>


<% @categories.each do |c| %>
	<h3><%= link_to c.category, :controller => 'listings', :action => 'category', :id => c.category%></h3>
  <!--<h3><%= c.category %></h3>-->
<% end %>

<h2>All Listings for San Francisco</h2>
<% @categories.each do |c| %>
  <h3><%= c.name %></h3>
  <%= c.description %>
<% end %>

