<% if @user != nil %>
	<h1><%= @user.name%></h1>
	<h2>All Listings for <%= @user.name%></h2>
		<% @listings.each do |l| %>
  			<h3><%= link_to l.name, :controller => 'listings', :action => 'listing', :id => l.id%></h3>
  			<%= l.description %>
		<% end %>
<% else %>
	<h1> asdfasdf</h1>
<%end%>