<h1><strong><%= current_user.name %>'s Dashboard</strong></h1>

<ul class="nav nav-tabs">
	<li>
		<%= link_to :controller => 'user', :action => 'inbox' do %>
			<h4><span class="glyphicon glyphicon-envelope"></span> Inbox</h4>
		<% end %>
	</li>
	<li>
		<%= link_to :controller => 'user', :action => 'profile' do %>
			<h4><span class="glyphicon glyphicon-user"></span> Profile</h4>
		<% end %>
	</li>
	<li>
		<%= link_to :controller => 'user', :action => 'listings' do %>
			<h4><span class="glyphicon glyphicon-list-alt"></span> My Listings</h4>
		<% end %>
	</li>
</ul>