<% content_for (:head) do %>
<%= stylesheet_link_tag "jquery.Jcrop" %>
<%= javascript_include_tag "jquery.Jcrop.min" %>
<script type="text/javascript">
  $(function() {
    $('#cropbox').Jcrop({
	    onChange: update_crop,
	    onSelect: update_crop,
	    setSelect: [0, 0, 500, 500],
	    aspectRatio: 1
    });
  });
  function update_crop(c) {
		$('#x').val(c.x);
		$('#y').val(c.y);
		$('#x2').val(c.x2);
		$('#y2').val(c.y2);
		$('#w').val(c.w);
		$('#h').val(c.h);
	}
</script>
<% end %>

<div class="well well-lg well-full">
	<h2>Crop image</h2>
	<center><%= image_tag current_user.photo, :id => "cropbox", :class => "crop" %></center>
</div>

<form onsubmit="return false;">
	<fieldset>
		<label>X1 <input type="text" size="4" id="x" name="x" /></label>
		<label>Y1 <input type="text" size="4" id="y" name="y" /></label>
		<label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
		<label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
		<label>W <input type="text" size="4" id="w" name="w" /></label>
		<label>H <input type="text" size="4" id="h" name="h" /></label>
	  <%= submit_tag("Crop", :class=>"btn btn-primary", :id=>"singlebutton") %>
	</fieldset>
</form>

