* {
	margin: 0;
}
html, body {
	height: 100%;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.footer .push {
	height: 4em;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

body {
	padding-top: 50px;
}

#container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

#header {
	font-size: 16px;
}

.navbar {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

.navbar-static-top {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

.jumbotron {
	background-size: cover;
	height: 500px;
	margin: 0px;
	padding-top: 300px;
	text-align: center;
	width: 100%;
	min-width: 1000px;
}

.jumbotronpan {
	height: 400px;
}

.jumbotron h1 {
	color: white;
	text-shadow: 0 0 0.1in #000000, 0 0 0.2in #000000, 0 0 0.3in #000000;
}

.jumbotron h2 {
	color: white;
	text-shadow: 0 0 0.1in #000000, 0 0 0.2in #000000, 0 0 0.3in #000000;
}

.places {
	background: #AAAAFF;
	padding: 10px 50px 20px 50px;
	min-width: 1000px;
}

.listings {
	padding: 10px 50px 20px 50px;
}

table.four{
	table-layout: fixed;
	text-align: center;
	vertical-align: top;
	width: 100%;
	min-width: 800px;
}

table td {
	display: table-cell;
	padding: 15px;
	vertical-align: top;
	width: 25%;
}

.tdfour{
	vertical-align: top;
}

img.four {
	display: inline-block;
	vertical-align: top;
	min-height: 92px;
	height: auto;
	max-height: 200px;
	min-width: 150px;
	width: auto\9;
}

.caption {
	color: white;
	position: absolute;
	top: 50%;
	width: 100%;
}

.imagebtn {
	position: relative;
	text-shadow: 0 0 0.1in #000000, 0 0 0.2in #000000, 0 0 0.3in #000000;
	-webkit-box-shadow: 3px 3px 3px #7C7C7C;
  box-shadow: 3px 3px 3px #7C7C7C;
}

.imagebtn:hover {
	top: 2px;
	left: 2px;
}

.profile {
	margin: 5px;
	min-height: 320px;
}

img.crop {
	min-width: 200px;
	min-height: 200px;
	max-width: 800px;
	max-height: 500px;
}

img.crop2 {
	min-width: 300px;
	min-height: 200px;
	max-width: 900px;
	max-height: 600px;
}

img.prof {
	margin: 5px 15px 5px 5px;
	float: left;
	height: 300px;
	width: 300px;
}

img.proflist {
	display: block;
	height: 300px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

img.thumb {
	float: left;
	height: 90px;
	width: 90px;
	margin: 5px 15px 5px 5px;
}

.event {
	margin: 15px;
	height: auto;
}

img.ev {
	display: block;
	height: auto;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

.well {
	margin-top: 30px;
	margin-bottom: 10px;
}

.well-full {
	min-width: 1000px;
}

.panel-review {
	margin-left: 120px;
}

.imgreview {
	width: 100px;
	float: left;
}

.imgreview:hover {
	top: 2px;
	left: 2px;
}

a:hover {
	text-decoration: none;
}

.date {
	color: #999999;
}