body {
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

#header {
	font-size: 24px;
	font-variant: small-caps;
	margin: 0px;
	padding: 0px 100px 0px 100px;
}

#bar {
	background: #DCDCFF;
}

#home {
	position: relative;
	width: 100%;
}

#places {
	background: #DCDCFF;
	padding: 10px 100px 20px 100px;
}

#footer {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-bottom: 10px;
	margin-right: auto;
	width: 30%;
}

table.home{
	table-layout: fixed;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

img.home {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

img.city {
	height: 200px;
	margin: 5px;
	width: 300px;
}

a {
	color: #3333FF;
	text-decoration: none;
}

#header h1 {
	margin: 0px;
}

#home h1 {
	color: white;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 0.3em #0000EE, 0 0 0.3em #0000EE;
	top: 300px;
	width: 100%;
}

h1 {
}

h2 {
}